 
   <div class="contactPage">
        <div class="contactInfo">
            <div class="formDiv">
                 <div>
                 </div>
                 <div class="contactHeader">
                    <h2>Contact us</h2>
                     <hr>
                        <p>
                            If you have any questions, suggestions, comments, advice, thoughts or you just want to share something with us, please get in touch. We'd love to hear from you! We will also be more than happy to provide you with more information about our classes and locations.
                        <p>
                 </div>

                 
                 <hr>
                <form action="/contactus">
                  <div class="formInfo ">
                    <div class="rowDiv">
                    <div class="lableDiv ">
                        <label for="fname">Name</label>
                    </div>
                    <div class="textDiv">
                        <input type="text" id="name" name="name" placeholder="Your name..">
                    </div>
                    </div>
                    <div class="rowDiv">
                    <div class="lableDiv ">
                        <label for="email">Email</label>
                    </div>
                    <div class="textDiv">
                        <input type="text" id="email" name="email" placeholder="email...">
                    </div>
                    </div>
                    
                    <div class="rowDiv">
                    <div class="lableDiv ">
                        <label for="subject">Subject</label>
                    </div>
                    <div class="textDiv">
                        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                    </div>
                    </div>
                    <div class="rowDiv">
                    <input type="submit" value="Submit">
                    </div>
                </form>
                </div>


                <div class="map">


                </div>


            </div>
        </div>
    </div>
 </div>  

 