 
    <div class="faq">

        <div class="faqInner">
            <hr>
                <h2>FAQ</h2>
            <hr>
            <div class="question">
            <h3>How to invest </h3>
            <hr>
            <p> 
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat corporis harum vero provident excepturi architecto! Odio pariatur id illum asperiores non aspernatur atque eius commodi, maxime dicta, velit culpa incidunt?
             </p>
            </div>
            <div class="question">
            <h3>what to invest </h3>
            <hr>
            <p> 
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat corporis harum vero provident excepturi architecto! Odio pariatur id illum asperiores non aspernatur atque eius commodi, maxime dicta, velit culpa incidunt? 
            </p>
            </div>
               <div class="question">
            <h3>Future investments </h3>
            <hr>
            <p> 
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat corporis harum vero provident excepturi architecto! Odio pariatur id illum asperiores non aspernatur atque eius commodi, maxime dicta, velit culpa incidunt? 
            </p>
            </div>
           
            <div class="faqBottom">
                <div class="faqBottom1">
                
                <div>
                <div class="faqBottom2">
                
                <div>
                <div class="faqBottom3">
                
                <div>

            <div>
         
     </div>
 
 </div>

 