 

    <div class="indexBody">
        <div class="indexImg">
            <div class="bodyHeader">
                One Summer, Ten weeks, Eight lessons
            </div>
               <div class="bodyText"> 
                    Members of the 2018 Summer Analyst and Associate classes from around the world share what they learned about career and life that will stay with them, as they head back to campus.
               </div>
        </div>
        <div class="indexInfo">
            <div class="info1"></div>
            <div class="info2"></div>
            <div class="info3"></div>

        </div>
        <div class="indexbody2">
            <div class="body21">
                <img src="images/ship.jpg" alt="" srcset="" width="300px">
            </div>
            <div class="body22">
                    <p>Why Trade Tariffs Could Rattle the Global Supply Chain</p>
            </div>
            <div class="body23">
                    <img src="images/ship.jpg" alt="" srcset="" width="300px">
            </div>

        </div>

        <div class="indexBodyThree">
            <div class="indexBodyThree1">
                <h3>Thoughts on the Market</h3>
                
		        <span class="date">Aug 27, 2018</span>
                 <hr>
		        <p>Listen to this weekly update on what to watch in the markets from Mike Wilson, Chief Investment Officer and Chief U.S. Equity Strategist for Morgan Stanley.
                </p>
	
                </div>
                <div class="indexBodyThree2">
                        <img src="images/ship.jpg" alt="" srcset="" width="300px">
                </div>
                <div class="indexBodyThree3">
                    <h3>A Launchpad for Women-Owned Startups</h3>
		            <span class="date">Aug 21, 2018</span>
                    <hr>
                    <p>Theia Smith leads the Atlanta Women’s Entrepreneurship Initiative, which she says is the nation’s only city-funded small-business incubator exclusively for women.
                    </p>
		
                </div>
                <div class="seeAllIdeas">
                    <button type="submit" id="seeMore">See all ideas</button>
                 </div>

    
            </div>

    </div>
     