* {
    box-sizing: border-box;
    margin: 0;
}

hr {
    height: 10px;
    border: none;
}

.navigation {
    height: 55px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #0f8ec7; 
    border-bottom: white solid 1px;
    font-family: karlaregular,sans-serif;
  
}


.largeMenu {
    display: none;
 
}

.homeMenu {
    display: none;
}

.whatwedoMenu {
    display: none;
}

.contactusMenu { 
    display: none;
}

.faqMenu {
    display: none;
}

.body {
    /* font-family: karlaregular,sans-serif; */
    font-family: ms_gloriola_ii_displaythin,sans-serif;
    background-color: #f5f5f5;
    width: 400px; 
}

.indexBody {
    width: 400px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #f5f5f5; 
}

.header {
    position: absolute;
    left: 10px;
    bottom: 12px;
    color: white;
    font-size: 25px; 
}

.menu {
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: white; 
    width: 30px; 
    /* display: none; */
    /* border: solid black; */
}

.menuContent {
    position: absolute;
    right: 3px;
    top: 40px;
    width: 180px;
    height: 100px;
    padding: 5px;
    color: #ffff;
    background-color: #f5f5f5; 
    border: solid #f5f5f5;
    text-decoration: none;
    display: none;
}

.menuContent :link {
    text-decoration: none;
}

.menuContent :ul {
    text-decoration: none;
}

.menuContent li a {
    color: #0f8ec7;
}



.indexImg {
    width: 100%;
    height: 380px;  
    padding: 25px; 
    background-color: #0f8ec7;
}

.indexImg :img {
 width: 280px; 
}

.bodyHeader {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 28px;
    font-style: normal;
    color: white; 
    margin-top: 20px;
    border-bottom: solid white 1px;
}

.bodyText {
    display: block;
    font-size: 18px;
    color: white;
    margin: 18px;
    border-bottom: solid white 1px;
}

.indexFooter { 
    /* background-color: #f5f5f5;     */

}

.body21 { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 305px;
    font-size: 15px;  
}

.body22 {
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 300px;
    font-size: 18px; 
    border: solid black 2px;
}

.body23 { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 305px;
    font-size: 15px;
}

.indexBodyThree {
    /* border: solid black 2px; */

}

.indexBodyThree1 {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 50px;
    margin-top: 30px; 
    font-size: 15px;
    border: solid black 2px; 
}

.indexBodyThree2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 305px;
    font-size: 15px;
}


.indexBodyThree3 {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 50px;
    margin-top: 30px; 
    font-size: 15px;
    border: solid black 2px; 
}


.seeAllIdeas {
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 300px;
    height: 250px;
    font-size: 18px;  
    position: relative;

}


#seeMore {
    width: 110px;
    text-align: center; 
    font-size: 15px; 
    padding: 5px;
    border-radius: 25px;
    position: absolute;
    bottom: 50px;
    left: 90px;;
    border: solid black 2px;
}

#seeMore:hover{
    background-color: #0f8ec7;
    color: white;
}


.footer {
    width: 400px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
}


.innerFooter {

}

.socialMedia {
    position: relative;
    display: block;
    width: 90%;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px; 
}

.socialMedia :link {
    text-decoration: none;
}

.socialMedia a {
    color: black;
}


.twt {
    width: 100px;
    height: 30px;
    position: absolute;
    left: 10px;  
}

.in {
    width: 100px;
    height: 30px;
    position: absolute;
    left: 120px;  
}

.fb {
    width: 90px;
    height: 30px;
    position: absolute;
    right: 2px; 
}


.footerInfo {
    width: 100%; 
    display: block; 
    background-color: grey;
    text-align: center;
    padding-top: 10px;;
   
}

.footerInfo :link {
    text-decoration: none;
}


.footerInfo1 {
    width: 300px;
    height: 70px; 
    margin-left: auto;
    margin-right: auto;
    padding: 20px;  
}

.footerInfo2 {
    width: 300px;
    height: 70px; 
    margin-left: auto;
    margin-right: auto;
    padding: 20px; 
}


.footerInfo3 {
    width: 300px;
    height: 70px; 
    margin-left: auto;
    margin-right: auto;
    padding: 20px; 
}


.footerInfo4 {
    width: 300px;
    height: 70px; 
    margin-left: auto;
    margin-right: auto;
    padding: 20px; 
}

.footerInfo4 {
    width: 300px;
    height: 70px; 
    margin-left: auto;
    margin-right: auto;
    padding: 20px; 
}


.footerInfo :ul {
    text-decoration: none;
}

.footerInfo a {
    color: black;
}





@media only screen and (min-width: 600px) {
    .navigation {
        height: 80px;
        width: 600px;
    }
    
    .indexBody {
        width: 600px; 
    }
    
    .header { 
        left: 30px;
        bottom: 20px; 
        font-size: 33px; 
    }
    
    .menu { 
        right: 30px;
        bottom: 20px; 
        font-size: 63px; 
    }
    
    .menuContent { 
        right: 8px;
        top: 60px;
        padding: 6px;
    }
    
    .menuContent :link {
        text-decoration: none;
    }
    
    .menuContent :ul {
        text-decoration: none;
    }
    
    .indexImg { 
        height: 440px;   
    }
    
    
    .bodyHeader {  
        margin-top: 40px;
        margin-bottom: 50px;
    }
    

    .bodyText {
        width: 400px;
        margin-left: auto;
        margin-right: auto; 
    }
    
   
    
    .body21 {
        width: 280px;
    }
    
    .body22 { 
        width: 280px;
        font-size: 18px; 
    }
    
    .body23 {
        width: 280px;
    }
    
    .indexBodyThree {
        /* border: solid black 2px; */
    
    }
    
    .indexBodyThree1 { 
        width: 400px; 
        font-size: 18px; 
    }
    
    .indexBodyThree2 { 
        width: 305px; 
    }
    
    
    .indexBodyThree3 {
        width: 400px; 
        font-size: 18px;
    }
    
    
    
    #seeMore {
        width: 130px; 
        font-size: 17px; 
        padding: 15px;
         
    }

    .socialMedia { 
       margin-top: 30px; 
    }
    
    
    .footer {
        width: 600px; 
    }
   

    
    .twt { 
        left: 40px;  
    }
    
    .in { 
        left: 200px;  
    }


}



@media only screen and (min-width: 900px) {
    .navigation {
        height: 75px;
        width: 100%; 
    }

    .body { 
        width: 100%; 
    }

    .indexBody {
        width: 100%; 
   }

   .header { 
        font-size: 40px; 
    }
    
    .menu {
        display: none;
    }

    .largeMenu {
        position: absolute;
        right: 2%;
        width: 55%;
        height: 70px; 
        font-family: karlaregular,sans-serif;
        font-size: 19px;
        color: white;
        text-align: right; 
        display: block;
         
    }

    .largeMenu {
        text-decoration: none;
    }
    
    .largeMenu div a {
        color: white;
        text-decoration: none;
    }
    
    .homeMenu {  
        width: auto;
        height: 100%;
        padding: 20px; 
        display: inline-block;

    }
    
    .whatwedoMenu { 
        width: auto;
        height: 100%;
        padding: 20px; 
        display: inline-block;
    }
    
    .contactusMenu {  
        width: auto;
        height: 100%;
        padding: 20px; 
        display: inline-block;
    }
    
    .faqMenu { 
        width: auto;
        height: 100%;
        padding: 20px; 
        display: inline-block;
    }

    .menuContent {
        position: absolute;
        right: 3px;
        top: 40px;
        width: 180px;
        height: 100px;
        padding: 5px;
        color: #ffff;
        background-color: #f5f5f5; 
        border: solid #f5f5f5;
        text-decoration: none;
        display: none;
    }

    .indexImg {
        width: 100%;
        height: 500px;  
        padding: 25px; 
        background-color: none;
        background-image: url('images/forest.jpg');
    }

    .bodyHeader { 
        margin-top: 60px;
        border-bottom: solid white 1px;
        
    }

    .bodyText { 
        font-size: 19px; 
        width: 450px;
        margin-top: 60px; 
         
    }


    .indexFooter { 
        /* background-color: #f5f5f5;     */
         

    }

    .indexbody2{ 
        margin-top: 50px;
        height: 350px;
    }

    .body21 {   
        margin-left: 3%;
        width: 27%;  
        display: inline-block;
        vertical-align: top;
    }

    .body22 { 
        margin-left: 3%;
        width: 27%;
        font-size: 15px;   
        display: inline-block;
        vertical-align: top;
    }

    .body23 { 
        margin-left: 3%;
        width: 27%;  
        display: inline-block;
        vertical-align: top;
    }

    .indexBodyThree { 
        margin-top: 40px; 
    }


    .indexBodyThree1 {
        margin-left: 5%;
        width: 27%; 
        height: 400px;
        padding: 5%;
        vertical-align: top; 
        display: inline-block;
        border: solid black 2px; 
    }
       

    .indexBodyThree2 {
        margin-left: 5%;
        width: 27%; 
        height: 400px; 
        vertical-align: top;
        display: inline-block; 
    } 


    .indexBodyThree3 {
        margin-left: 5%;
        width: 27%; 
        height: 400px;
        padding: 5%;  
        display: inline-block;
    }


    #seeMore {
        width: 150px; 
        font-size: 18px; 
        padding: 15px;
        bottom: 100px;
        left: 35%;
      
    }

    .footer {
        width: 100%;  
    }
 
    
    .socialMedia { 
        width: 600px;
        height: 75px;  
        font-size: 20px; 
    }
     
    
    .twt { 
        left: 50px;  
    }
    
    .in { 
        left: 260px;  
    }
    
    .fb { 
        right: 20px; 
    }


    .footerInfo {
        width: 100%; 
        display: block; 
        background-color: gray;
        text-align: center;
        padding-top: 70px;;
        padding-bottom: 50px; 
       
    }
    
    .footerInfo1 {
        width: 18%;
        height: 70px;  
        padding: 2px; 
        display: inline-block; 
    }
    
    .footerInfo2 {
        width: 18%;
        height: 70px;  
        padding: 2px; 
        display: inline-block; 
    }
    
    
    .footerInfo3 {
        width: 18%;
        height: 70px;  
        padding: 2px; 
        display: inline-block; 
    }
    
    
    .footerInfo4 {
        width: 18%;
        height: 70px;  
        padding: 2px; 
        display: inline-block; 
    }
    
    .footerInfo5 {
        width: 18%;
        height: 70px;  
        padding: 2px; 
        display: inline-block; 
    }
     
    
    

} 
 





